<section class="welcome-screen">
    <div class="container welcome-screen-content">

        <h1> Welcome To Auth</h1>

        <div>

            <a href="/login" class="btn btn-success"> Login</a>
            <a href="/signUp" class="btn btn-warning"> Sign Up</a>

        </div>

    </div>

</section>